.workout {

}

.hide {
  display: none !important;
}

/* Adapted from https://bootsnipp.com/snippets/z8699 START */
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}

/* Adapted from https://bootsnipp.com/snippets/z8699 END */
.comment-wrapper {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.link-block {
  display: block;
}

#toastContainer {
  position: absolute;

  top: 2em;
  right: 2em;

  max-width: 40em;

}